<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
  </ul>
  <a href="/"><h3 class="text-muted">BOARD</h3></a>

  <div th:if="${session.loginedUserName==null}">hi</div>

  <div sec:authorize="isAnonymous()">
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
  </div>
  <div sec:authorize="isAuthenticated()">

    <a href="/logout">로그아웃</a>
    <p th:text="${userName}"></p>
    <p th:text="${user2Name}"></p>
    <a href="/userInfo">회원정보</a>
  </div>

</div>